# =========================
# Python / Conda
# =========================
venv/
env/
.conda/
__pycache__/
*.py[cod]

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Datasets & Outputs (DO NOT PUSH)
# =========================
Datasets/
runs/
assets/

# =========================
# Model weights
# =========================
*.pt
*.pth
*.onnx

# =========================
# Large numpy / data files
# =========================
*.npy
*.npz

# =========================
# Environment variables
# =========================
.env

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store
