# =========================
# Python / Conda
# =========================
venv/
env/
.conda/
__pycache__/
*.py[cod]

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Datasets & Outputs (DO NOT PUSH)
# =========================
Datasets/
runs/
assets/

# =========================
# Model weights
# =========================
*.pt
*.pth
*.onnx

# =========================
# Large numpy / data files
# =========================
*.npy
*.npz

# Dataset media and archives
# =========================
*.jpg
*.jpeg
*.png
*.webp
*.bmp
*.gif
*.zip
*.7z
*.rar
*.tar
*.gz
*.txt
# =========================
# Environment variables
# =========================
.env

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store
